<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Node-Blogs</title>
		<link rel="stylesheet" href="/css/styles.css" href="text/css" />
	</head>

	<body>
		<%- include("./partials/nav.ejs") %>
		<div class="blogs content">
			<h2>All Blogs</h2>

			<p>There are no blogs to display...</p>
		</div>

		<%- include("./partials/footer.ejs") %>
	</body>
</html>
